[Unit]
Description=Start ogc admin
After=network-online.target
Requires=network-online.target

[Service]
Type=forking
User=ubuntu
ExecStart=/usr/local/bin/ogc_systemd

[Install]
WantedBy=multi-user.target
